:root {
    --main-hero-background-color: radial-gradient(110.04% 80.27% at 50.78% 50.38%, #373737 2.11%, #373737 8.17%, #000 62.66%);

    --dark-color: #010101;
    --light-color: #FFF;
    --gray-light-color: #FFFCF2;
    --dark-pink-color: #820068;
    --pink-color: #FD55AA;

    --contact-btn-background-color: #FDE2F3;
    --subsribe-btn-background-color: #EB0085;

    --font-family-base: "Barlow", sans-serif;

    --container-width: 1250px;
    --container-padding-inline: 120px;

    --input-heigth: 66px;
    --textarea-heigth: 266px;

    --button-heigth: 47px;

    --button-border-radius: 24px;

    --transition-duration: 0.2s;
}


